.container
{
margin:25px auto;
width:30%;
border:5px solid black;
height:auto;

}
.clear
{
height:10px;
}
.wrapper
{
width:60%;
height:120px;

margin:50px auto;

}
.mainleftdiv
{
float:left;
font-size:large;
font-family:sans-serif;
font-weight:bold;
width:40%;
height:60px;
margin:10px;

}
.leftdiv, 
{
float:right;
text-align:left;
width:45%;
}


.mainrightdiv
{
float:right;

width:42%;
height:60px;
margin:10px;
}
.rightdiv
{
float:left;
text-align:left;
width:45%;
}
.submitbuttons
{
margin:10px auto;
width:80%;
height:auto;
}



